<%- include('../header') %>
<div class="row">
  <div class="col-12 text-center">
    <h5>Products Pages</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In veritatis aut
      dolores fugiat animi rerum ducimus, tempora, molestias optio expedita quo
      possimus nostrum quae! Harum reiciendis alias laudantium eum nesciunt!
    </p>
  </div>
  <div class="col-12 my-2">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Stock</th>
          <th>Manufacturer</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach(product => { %>
        <tr>
          <td><%= product.id %></td>
          <td>
            <div class="row">
              <div class="col-2">
                <img
                  class="img-fluid rounded-circle"
                  src="<%= product.image %>"
                  alt=""
                />
              </div>
              <div class="col-10">
                <h5>
                  <a href="/products/<%= product.id %>/ingredients">
                    <%= product.name %>
                  </a>
                </h5>
                <small class="badge bg-info">Rp. <%= product.price%></small>
              </div>
            </div>
          </td>
          <td><%= product.stock %> pcs</td>
          <td><%= product.company.name %></td>
          <td>
            <a href="" class="btn btn-sm btn-info">Edit</a>
            <a href="" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<%- include('../footer') %>
